html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

// Text styling for all paragraph tags
p {
  text-align: center;
  color: white;
  font-size: 2rem;
}

// Grid creation for all content
.main {
    //Width from mockup.xd file
    width: 1200px;
    padding: 2rem;
    display: grid;
    grid-template-areas:
      "header header"
      "nav nav"
      "side main"
      "footer footer";
        // Dimensions from mockup.xd file
    grid-template-columns: 30% 1fr;
    grid-template-rows: 150px 80px 650px 150px;
    //Header grid item which is also a flexbox to accomodate text alignment
    .header {
      background-color: $red;
      grid-area: header;
      align-content: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    //Nav grid item which is also a flexbox to accomodate text alignment
    .nav {
      grid-area: nav;
      background-color: $green;
      margin: 0;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__item {
        display: inline-block;
        font-size: 2rem;
        padding: 0;
      }
      &__link {
        color: white;
        text-decoration: none;
      }
    }

    //Sidebar grid item which is also a flexbox to accomodate text alignment
    .sidebar {
      background-color: $purple;
      grid-area: side;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    //Main-content grid item which is also a flexbox to accomodate text alignment
    .main-content {
      background-color: $orange;
      grid-area: main;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    //Footer grid item which is also a flexbox to accomodate text alignment
    .footer {
      background-color: $blue;
      grid-area: footer;
      margin: 0 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}
