html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

p {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.main {
    width: 1200px;
    padding: 2rem;
    display: grid;
    grid-template-areas:
      "header header"
      "nav nav"
      "side main"
      "footer footer";
    grid-template-columns: 30% 1fr;
    grid-template-rows: 150px 80px 650px 150px;
}

.header {
  background-color: $red;
  grid-area: header;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: $green;
  grid-area: nav;
  &__list {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  &__item {
    display: inline-block;
    font-size: 2rem;

  }
  &__link {
    color: white;
    text-decoration: none;
  }
}

.sidebar {
  background-color: $purple;
  grid-area: side;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  background-color: $orange;
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: $blue;
  grid-area: footer;
  margin: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
