html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

p {
  text-align: center;
  color: white;
  font-size: 2rem;
}

.main {
    width: 1200px;
    padding: 2rem;
    display: grid;
    grid-template-areas:
      "header header"
      "nav nav"
      "side main"
      "footer footer";
    grid-template-columns: 30% 1fr;
    grid-template-rows: 150px 80px 650px 150px;
}

.header {
  background-color: $red;
  grid-area: header;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: $green;
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0px;
  flex: 1 1 auto;
  &-wrap {
   max-width: 1920px;
  }
  &__list {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
  }
  &__item {
    display: inline-block;
    font-size: 2rem;
    margin-right: 2rem;
    &:last-of-type {
      margin: 0;
    }
  }
  &__link {
    color: white;
    text-decoration: none;
  }
}

.sidebar {
  background-color: $purple;
  grid-area: side;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  background-color: $orange;
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: $blue;
  grid-area: footer;
  margin: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



// // nav
// .nav {
//   background: $teal;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;
//   padding: 2rem 1rem;
//   flex: 1 1 auto;
//   &-wrap {
//     max-width: 1920px;
//   }
//   &__logo,
//   &__login {
//     font-size: 20px;
//     color: white;
//     text-decoration: none;
//     margin: 0 auto 2rem;
//     width: 100%;
//     text-align: center;
//     @include media-query(tab) {
//       margin: 0;
//       width: auto;
//     }
//   }
//   &__login {
//     margin: 2rem auto 0;
//     @include media-query(tab) {
//       margin: 0;
//     }
//   }
//   &__list {
//     padding: 0;
//     margin: 0 auto;
//     list-style: none;
//     text-align: center;
//   }
//   &__item {
//     display: inline-block;
//     font-size: 20px;
//     font-family: $font-fam;
//     margin-right: 2rem;
//     &:last-of-type {
//       margin: 0;
//     }
//   }
//   &__link {
//     color: $white;
//     text-decoration: none;
//   }
// }
