html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

h1 {
  color: #150f96;
}

// Playlist container setup that includes cover art and copy
.playlist-container {
  margin-top: 1rem; 
  display: grid;
  border: 1px solid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

//Styling for playlist copy
.playlist-copy {
  background: lightblue;
  justify-items: center;
}


// Playlist art styling and transition
// Adapted from https://3dtransforms.desandro.com/art-flip

//Styling for art-scene that houses the 3D space
.art-scene {
  width: 300px;
  height: 300px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
  justify-self: center;
}

//Cover art art that transforms within parent parent art-scene space
.art {
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

// Tranform to flip cover utilizing is-flipped class
.art.is-flipped {
  transform: rotateX(180deg);
}

// Cover face styling for text and to hide back side of face
.art__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

// Styling for cover art front
.art__face--front {
  background: red;
}

// Styling for cover art back
.art__face--back {
  background: blue;
  transform: rotateX(180deg);
}
